* {
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    width: 100%;
    font-family:"Play", sans-serif ;
}
.body {
    
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
}
.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.header {
    background-image: url('bg_img.png');
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
}
.header-img-link {
    width: 10%;
}
.header-img-link--logo {
    width: 100%;
}
.header-navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;

}
.header-navbar-list-items {
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 3.6rem;
    position: relative;

    cursor: pointer;
    transition: color 0.3s ease;
}
.navbar-link {
    text-decoration: none;
    color: #ffffff;
}
.navbar-link:hover {
    color: #f9a001;
}
.header-navbar-list-items:hover {
    color: #f9aa01;
}
.header-navbar-list-items::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #f9aa01, transparent);
    /* làm thanh hover mờ 2 bên và rõ ở giữa */
    transition: width 0.4s ease, left 0.4s ease , opacity 0.4s ease;
    opacity: 0;
    color: #f9aa01;
}
.header-navbar-list-items:hover::after {
    width: 100%;
    left: 0;
    opacity: 1; 
   
    
} 
/* Bieu tuong mang xa hoi */
.list-icon {
    display: flex;
}
.list-icon-items {
    list-style: none;
    margin-left: 1rem;
}
.socials {
    width: 40px;
    height: 40px;
}

/* bo ngon ngu */
.language-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 1px rgb(237, 233, 233);
    right: 12%;
    top:25%;
    height: 50%;
    opacity: 0.4; 
}
.lang-list {
    display: flex;
    position: relative;
}
.list-lang {
    /* display: none; */
    background-image: url(bg_img.png);
    text-align: center;
    padding: 1.2rem ;
    position: absolute;
    left: -50%;
    top: 100%;
}
.languages {
    list-style: none;
    padding: 0.5rem 0.5rem;
    text-align: center;
}
.link-languages {
    font-weight: bold;
    font-size: 2.4rem;
    text-decoration: none;
    color: #f9aa01;
}
 /*  container */

.container {
    background-image: url('keyvisual.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-logo {
    width: 35%;
}
.logo {
    width: 100%;
}